<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AdminMaster.master.cs" Inherits="BootStrapTest.AdminMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-top" style="margin-top: -50px;">
        <div class="container">
            <div class="navbar-header">
                <a href="#" style="color: #ffffff; font-size: 18px;"><img src="/Images/mcicon.jpg"/>  Help Centre</a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: -20px;">
        <div class="container">
            <div class="row">
                <div class="span4" style="height: 70px; text-align: right;">
                    <form class="form-search">
                        <div id="custom-search-input" style="padding-left: 400px;">
                            <div class="input-group">
                                <input type="text" class="  search-query form-control" placeholder="Search" style="width: 600px; height: 50px" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" style="height: 50px">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb bar-->
    <div class="list-group" style="background-color: #dededd; color: #5890FF; font-weight: bold;">
        <%--<span class="list-group-item" style="background-color:#dededd;">
			<i class="fa fa-home" style="margin-right:5px; margin-left:50px;"></i>
			<a href="#" style="border-bottom:solid 2px #5890FF; height:50px;">Desktop Help</a>
		</span>--%>
    </div>

    <div class="container" style="width: 100%;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group product-category-all">
                    <li class="list-group-item"><span class="badge">
                        <i class="fa fa-angle-right icon-data fa-fw"></i></span>
                        <a href="../../Admin/HelpCategory/List.aspx">Help Categories</a>
                    </li>
                    <li class="list-group-item"><span class="badge">
                        <i class="fa fa-angle-right icon-data fa-fw"></i></span>
                        <a href="../../Admin/HelpTopic/List.aspx">Help Topics</a>
                    </li>
                    <li class="list-group-item"><span class="badge">
                        <i class="fa fa-angle-right icon-data fa-fw"></i></span>
                        <a href="../../Admin/HelpTopicTags/List.aspx">Help Topic Tags</a>
                    </li>
                    <li class="list-group-item"><span class="badge">
                        <i class="fa fa-angle-right icon-data fa-fw"></i></span>
                        <a href="../../Admin/RelatedTopics/List.aspx">Related Topics</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <form runat="server">
                            <div>
                                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr>
        </div>
     </div>
        <!-- /container -->
        <footer class="footer">
            <div class="container">
                <%--<p class="text-muted">Place sticky footer content here.</p>--%>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
	================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>--%>
        
        <!-- page javascript goes here -->
        <asp:ContentPlaceHolder ID="javascript" runat="server">
            <script src="<%= ResolveUrl("~/Scripts/jquery-1.12.2.min.js") %>"></script>
        <script src="<%= ResolveUrl("~/Scripts/bootstrap.min.js") %>"></script>
        </asp:ContentPlaceHolder>
</body>
</html>
