<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MainMaster.master.cs" Inherits="BootStrapTest.MainMaster" EnableViewState="false" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
</head>
<body>
    <form runat="server">
    <nav class="navbar navbar-inverse navbar-top" style="margin-top: -50px;">
        <div class="container">
            <div class="navbar-header">
                <a href="Home.aspx" style="color: #ffffff; font-size: 18px;"><img src="/Images/mcicon.jpg"/>  Help Centre</a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                    <a href="../Admin/AdminHome.aspx" style="color:white; margin-right:10px;">Admin Home</a>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: -20px;">
        <div class="container">
            <div class="row">
                <div class="span4" style="height: 70px; text-align: right;">
                    <div id="custom-search-input" style="padding-left: 400px;">
                        <asp:Panel runat="server" ID="pnlSearch" CssClass="input-group" DefaultButton="btnSearch">
                            <asp:TextBox runat="server" ID="txtSearch" CssClass="search-query form-control" KeyDown="OnKeyDownHandler" placeholder="Search" Width="600px" Height="50px"></asp:TextBox>
                            <span class="input-group-btn" style="vertical-align:middle;">
                                <asp:LinkButton ID="btnSearch" runat="server" CssClass="btn btn-primary btn-align" Height="50px" OnClick="btnSearch_Click">
                                    <i class="fa fa-search"></i>
                                </asp:LinkButton>
                            </span>
                        </asp:Panel>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb bar-->
    <div class="list-group" style="background-color: #dededd; color: #5890FF; font-weight: bold;">
        <%--<span class="list-group-item" style="background-color:#dededd;">
			<i class="fa fa-home" style="margin-right:5px; margin-left:50px;"></i>
			<a href="#" style="border-bottom:solid 2px #5890FF; height:50px;">Desktop Help</a>
		</span>--%>
    </div>

    <div class="container" style="width: 100%;">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <!--Menu goes here-->
                <asp:Label ID="lblPageID" runat="server" Visible="false"></asp:Label>
                <ul class="list-group product-category-all">
                    <li class="list-group-item">
                        <%--<span><i class="fa fa-home icon-data"></i></span>--%>
                        <%--<a href="/Home.aspx">Home</a>--%>
                        <asp:Label runat="server" ID="lblHeadIcon" CssClass="fa fa-home"></asp:Label><span style="padding-left:5px;"></span>
                        <asp:HiddenField runat="server" ID="hfID" />
                        <asp:LinkButton runat="server" ID="lnkHome" OnClick="lnkHome_Click"></asp:LinkButton>
                    </li>
                    <asp:Repeater runat="server" ID="rptCategory" OnItemDataBound="rptCategory_ItemDataBound">
                        <ItemTemplate>
                            <div class="list-group-item">
                                <asp:Label runat="server" ID="lblIcon" CssClass="fa fa-plus"></asp:Label><span style="padding-left:5px;"></span>
                                <asp:Label ID="lblID" runat="server" Visible="false" Text='<%#Eval("Help_Category_ID") %>'></asp:Label>
                                <asp:LinkButton runat="server" ID="lnkCategory" OnClick="lnkCategory_Click" Text='<%#Eval("Help_Category_Name") %>'></asp:LinkButton>
                            </div>
                            <asp:Repeater runat="server" ID="rptChild" Visible="false">
                                <ItemTemplate>
                                    <div class="menu-child">
                                            <i class="fa fa-angle-right icon-data fa-fw"></i>
                                        <asp:Label ID="lblID" runat="server" Visible="false" Text='<%#Eval("Help_Category_ID") %>'></asp:Label>
                                        <asp:LinkButton runat="server" ID="lnkChildCat" OnClick="lnkCategory_Click" Text='<%#Eval("Help_Category_Name") %>'></asp:LinkButton>
                                    </div>
                                </ItemTemplate>
                            </asp:Repeater>
                        </ItemTemplate>
                    </asp:Repeater>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div>
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
        </div>
     </div>
        <!-- /container -->
        <footer class="footer">
            <div class="container">
                <%--<p class="text-muted">Place sticky footer content here.</p>--%>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
	================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>--%>
        
        <!-- page javascript goes here -->
        <asp:ContentPlaceHolder ID="javascript" runat="server">
            <script src="<%= ResolveUrl("~/Scripts/jquery-1.12.2.min.js") %>"></script>
            <script src="<%= ResolveUrl("~/Scripts/bootstrap.min.js") %>"></script>
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
